.architecte__citation{
    color:white;
    margin:0px 20px;
    text-align:center;
}

.home__architecte-wave{
    position:absolute;
    z-index:1
}

#archi_photo1{
    position:relative;
    z-index:1
}

.archi__content--text{
    color:white;
    margin:20px 20px;
}

.Photo__1{
margin-left:43px
}