body {
    background-color: #131313;
}

h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: auto;
}

.font-body1 {
    font-size: 20px;
    color: white;
}

.font-body2 {
    color: white;
    font-size: 16px;
}

main {
    margin-top: 100px;
}

#home__date {
    display: relative;

    margin-top: 230px;
    z-index: 1;
    text-align: center;
}


.home__date-wave {
    position: absolute;
    z-index: -1;

}

#home__horaire {
    margin-top: 180px;
}

.home__horaire-p {
    text-align: center;
    margin-top: 38px;
}

#home__tarif {
    position: relative;
    text-align: center;
    margin-top: 150px;
}