.menu{
    background-color:#131313;
    position:absolute;
    height:100vh;
    z-index:10;
    top:0;
    left:0;
    right:0;
    bottom:0
}

.menu__list{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:10px;
    text-align:center;
    padding:0;
    margin-top:250px;
}

.mmenu__separation{
    width:40%
}

.menu__link{
    color:white;
}

.header__button{
    position:absolute;
    z-index:11;
    top: 30px;
    right:30px;
    border:none;
    background:none
}